* {
    margin: 0;
    padding: 0;
}
html{
    overscroll-behavior-x: none;
}
body {
    background-color: black;
}

/* styling nav */
.nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    list-style: none;
}

.nav ul .left {
    display: flex;
    justify-content: flex-start;

}

.nav ul .centre {
    display: flex;
    align-items: center;

}

.nav ul .right {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;

}

.right a {
    font-family: sans-serif;
    display: flex;
    justify-content: right;
    color: white;
    text-decoration: none;

}

#Logo {
    width: 40px;

}

#homeBtn {
    width: 40px;
    background-color:rgb(31, 31, 31);
    padding: 5px;
    border-radius: 30px;
    margin-right: 20px;
}

form input {
    height: 50px;
    width: 20vw;
    padding: 0 30px;
    border: none;
    border-radius: 30px;
    background-color: rgb(31, 31, 31);
}

#loginBtn {
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 30px;
}

#divider {
    height: 30px;
    width: 10px;
}

#insApp {
    margin-left: 10px;
    margin-right: 10px;
}

#signUp {
    margin-left: 10px;
    margin-right: 20px;
}

/* styling left box */

.box1 {
    margin: 20px;
    padding: 20px;
    color: white;
    width: 18vw;
    display: flex;
    flex-direction: column;
   
    background-color: rgb(18, 18, 18);
    border-radius: 15px;
    gap: 50px;
    flex-shrink: 0;
    min-width:234px;
}

.line1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.childBox11{
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-family: sans-serif;
    gap: 10px;
    background-color: rgb(31, 31, 31) ;
    padding: 20px 20px;
    border-radius: 10px;
}
.childBox12{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
    background-color: rgb(31, 31, 31) ;
    padding: 20px 20px;
    border-radius: 10px;
    font-family: sans-serif;
}
#crt_Ply , #brs_Pod{
    width: 130px;
    height: 30px;
    border-radius: 20px;
    border: none;
    font-weight: bolder;
}
#crt{
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 20px;
}
.childBox11 p , .childBox12 p {
    color: rgb(129, 129, 129);
}
.links{
    margin-top:auto ;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.links a{
    color:rgb(139, 139, 139) ;
    text-decoration: none;
    font-size: 12px;
    font-family: sans-serif;
}
.links .white{
    color:rgb(232, 232, 232);
}
.lang button img{
    width: 25px;
}
.lang button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: whitesmoke;
    padding: 6px;
    width: 100px;
    border: 1px solid white;
    border-radius: 20px;
}
/* right box */
main{
    display: flex;
}
.box2 {

    margin: 20px;
    padding: 20px;
    color: white;
    width: 82vw;
    height: 100%;
    display: flex;
    flex-direction: column;


    background-color: rgb(18, 18, 18);
    background-image: linear-gradient(to bottom , rgba(40, 39, 39, 0.61) 0.4%, rgb(18,18,18) 20%);
    border-radius: 15px;
   
}
.box2 .line1{
    margin-top : 30px;
    font-family: sans-serif;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box2 .line1 a {
    color: white;
    text-decoration: none;
}
.box2 .poster{

    min-width: 224px;
    min-height: fit-content;
    background-color: rgb(18,18,18);
   background-image:  linear-gradient(to bottom , rgba(40, 39, 39, 0.61) 0.1%, rgb(18,18,18) 60%);
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex-shrink: 0;
   
}
.box2 .poster img{
    width: 200px;
    min-width: 200px;
    padding: 10px;
    border: none;
  
}
.poster .title{
color: aliceblue;
padding: 0px 15px;
}
.credits{
    display: flex;
    flex-wrap: wrap;
    gap:3px;
    margin-top: 3px;
    padding: 0px 15px;
}
.poster a{
    font-family: sans-serif;
    color:rgb(139, 139, 139);
    text-decoration: none;
    font-size: 14px;
}
.TrendingSongs{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
   
   
}
.PopularArtists{
    margin-top: 5px;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;

    
}

.Artists{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
   align-items: center;
   justify-content: center;
     width: 224px;
     min-height: fit-content;
     max-width: 224px;
     padding: 0 10px;
     flex-shrink: 0;
    
}
.Artists img{

    display: flex;
    margin-top: 0px;
    width: 200px;
    flex-wrap: nowrap;
    height: 200px;
    object-fit: cover;
   flex-shrink: 0;
    padding: 10px 10px;
    border-radius: 150px;
  

}
.Artists a{
    font-family: sans-serif;
    text-decoration: none;
    padding: 0 10px;
    display: flex;
    align-items:flex-start;   
   color:rgb(139, 139, 139);
    margin: 5px;
    
}
.PopularArtists .title{
    color: aliceblue;

}
.AlbumSingle{
    display: flex;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
   
}
.AlbumSingle .poster{
    background-image: none;
}
.breaker hr{
   margin-top: auto;
    background-color: rgb(129, 129, 129);
}
.grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.grid1 {
    margin-top: 20px;
    gap: 10px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
}
.grid1 a{
    color: rgb(139, 139, 139);
    text-decoration: none;
}
.socials img{
    width: 30px;
    margin: 10px;
}

.box2 .poster {
    flex: 0 0 224px; /* grow: 0, shrink: 0, basis: 224px */
}

.Artists {
    flex: 0 0 224px;
}
.playBtn{
    background-color: rgb(54, 55, 54);
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: auto;
    display: none; /*hidden play btn*/

}
.btns{
    display: flex;
    gap: 20px;
  
}